.deploy-container {
    display: block;
    width: -webkit-fill-available;
}

.deploy-container .hidden {
    display: none;
}

.deploy-button-container {
    float: right;
    margin: 0px 30px;
    display: grid;
}

.deploy-buttons {
    flex-direction: column;
    text-align: right;
}

.force-deploy-text {
    float: right;
    width: 200px;
    margin-top: 5px;
    font-size: 12px;
    text-align: right;
}

.deploy-status-overview-container {
    display: flex;
}

.deploy-status-overview-container a {
    margin-block-start: 1.7em;
    margin-block-end: 1.7em;
    margin-right: 15em;
    margin-left: auto;
}

#refresh {
    float: right;
    width: 24px;
    height: 24px;
    margin: auto 5px;
    background-image: url("data:image/svg+xml;utf8, <svg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='redo-alt' class='svg-inline--fa fa-redo-alt fa-w-16' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path fill='rgb(255,255,255)' d='M256.455 8c66.269.119 126.437 26.233 170.859 68.685l35.715-35.715C478.149 25.851 504 36.559 504 57.941V192c0 13.255-10.745 24-24 24H345.941c-21.382 0-32.09-25.851-16.971-40.971l41.75-41.75c-30.864-28.899-70.801-44.907-113.23-45.273-92.398-.798-170.283 73.977-169.484 169.442C88.764 348.009 162.184 424 256 424c41.127 0 79.997-14.678 110.629-41.556 4.743-4.161 11.906-3.908 16.368.553l39.662 39.662c4.872 4.872 4.631 12.815-.482 17.433C378.202 479.813 319.926 504 256 504 119.034 504 8.001 392.967 8 256.002 7.999 119.193 119.646 7.755 256.455 8z'></path></svg>");
}

body.vscode-light #refresh {
    background-image: url("data:image/svg+xml;utf8, <svg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='redo-alt' class='svg-inline--fa fa-redo-alt fa-w-16' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path fill='rgb(0,0,0)' d='M256.455 8c66.269.119 126.437 26.233 170.859 68.685l35.715-35.715C478.149 25.851 504 36.559 504 57.941V192c0 13.255-10.745 24-24 24H345.941c-21.382 0-32.09-25.851-16.971-40.971l41.75-41.75c-30.864-28.899-70.801-44.907-113.23-45.273-92.398-.798-170.283 73.977-169.484 169.442C88.764 348.009 162.184 424 256 424c41.127 0 79.997-14.678 110.629-41.556 4.743-4.161 11.906-3.908 16.368.553l39.662 39.662c4.872 4.872 4.631 12.815-.482 17.433C378.202 479.813 319.926 504 256 504 119.034 504 8.001 392.967 8 256.002 7.999 119.193 119.646 7.755 256.455 8z'></path></svg>");
}

.refresh-icon-text {
    float: right;
    margin: auto 5px;
}

#refresh:hover {
    width: 24px;
    height: 24px;
    float: right;
    background-image: url("data:image/svg+xml;utf8, <svg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='redo-alt' class='svg-inline--fa fa-redo-alt fa-w-16' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path fill='rgb(121,134,138)' d='M256.455 8c66.269.119 126.437 26.233 170.859 68.685l35.715-35.715C478.149 25.851 504 36.559 504 57.941V192c0 13.255-10.745 24-24 24H345.941c-21.382 0-32.09-25.851-16.971-40.971l41.75-41.75c-30.864-28.899-70.801-44.907-113.23-45.273-92.398-.798-170.283 73.977-169.484 169.442C88.764 348.009 162.184 424 256 424c41.127 0 79.997-14.678 110.629-41.556 4.743-4.161 11.906-3.908 16.368.553l39.662 39.662c4.872 4.872 4.631 12.815-.482 17.433C378.202 479.813 319.926 504 256 504 119.034 504 8.001 392.967 8 256.002 7.999 119.193 119.646 7.755 256.455 8z'></path></svg>");
}

body.vscode-light #refresh:hover {
    background-image: url("data:image/svg+xml;utf8, <svg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='redo-alt' class='svg-inline--fa fa-redo-alt fa-w-16' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path fill='rgb(121,134,138)' d='M256.455 8c66.269.119 126.437 26.233 170.859 68.685l35.715-35.715C478.149 25.851 504 36.559 504 57.941V192c0 13.255-10.745 24-24 24H345.941c-21.382 0-32.09-25.851-16.971-40.971l41.75-41.75c-30.864-28.899-70.801-44.907-113.23-45.273-92.398-.798-170.283 73.977-169.484 169.442C88.764 348.009 162.184 424 256 424c41.127 0 79.997-14.678 110.629-41.556 4.743-4.161 11.906-3.908 16.368.553l39.662 39.662c4.872 4.872 4.631 12.815-.482 17.433C378.202 479.813 319.926 504 256 504 119.034 504 8.001 392.967 8 256.002 7.999 119.193 119.646 7.755 256.455 8z'></path></svg>");
}

table tr th {
    width: 30%;
    padding: 40px 15px;
}

table,
th,
td {
    border: 1px solid #79868a;
}

table tr td {
    padding: 20px;
}

table tr td span {
    float: left;
    text-align: left;
}

table tr th .heading-text {
    display: grid;
}

table tr th a {
    color: #00b0e6;
}

table tr th .title {
    font-size: 24px;
}

table tr th .subtitle {
    font-size: 12px;
    color: #79868a;
    font-weight: 400;
}

table tr td span {
    font-family: "Amazon Ember Regular", "Helvetica Neue", Arial, Helvetica, Roboto, sans-serif;
    font-weight: 400;
    height: 100%;
    vertical-align: middle;
    display: inline-block;
}

table tr td .sub-span {
    margin-block-end: 1em;
    text-align: left;
}

table tr td span p {
    vertical-align: middle;
    display: inline-block;
}

table tr .text-td {
    border-right-color: #252526;
    width: 60%;
}

body.vscode-light table tr .text-td {
    border-right-color: #f3f3f3;
}

table tr .icon-td {
    border-left-color: #252526;
    width: 10%;
}

body.vscode-light table tr .text-td {
    border-left-color: #f3f3f3;
}

table tr td .text-td-title {
    float: left;
    color: white;
}

body.vscode-light table tr .text-td-title {
    color: black;
}

table tr td .text-td-details {
    float: left;
    color: white;
}

body.vscode-light table tr .text-td-details {
    color: black;
}

#plusIcon {
    width: 26px;
    height: 30px;
    margin: 15px auto;
    background-image: url("data:image/svg+xml;utf8, <svg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='plus' class='svg-inline--fa fa-plus fa-w-7' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'><path fill='rgb(255,255,255)' d='M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z'></path></svg>");
}

body.vscode-light #plusIcon {
    background-image: url("data:image/svg+xml;utf8, <svg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='plus' class='svg-inline--fa fa-plus fa-w-7' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'><path fill='rgb(0,0,0)' d='M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z'></path></svg>");
}


#infoIcon {
    width: 18px;
    height: 18px;
    display: inline-block;
    background-image: url("data:image/svg+xml;utf8, <svg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='info-circle' class='svg-inline--fa fa-info-circle fa-w-16 info-icon' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path fill='rgb(0, 176, 230)' d='M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z'></path></svg>");
}

#infoIcon:hover {
    background-image: url("data:image/svg+xml;utf8, <svg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='info-circle' class='svg-inline--fa fa-info-circle fa-w-16 info-icon' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path fill='rgb(0, 0, 255)' d='M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z'></path></svg>");
}

#checkIcon {
    width: 45px;
    height: 45px;
    float: right;
    background-image: url("data:image/svg+xml;utf8, <svg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='check-circle' class='svg-inline--fa fa-check-circle fa-w-16' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'> <path fill='rgb(0, 176, 230)' d='M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z'></path></svg>");
}

#exclamationIcon {
    width: 45px;
    height: 45px;
    float: right;
    background-image: url("data:image/svg+xml;utf8, <svg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='exclamation-circle' class='svg-inline--fa fa-exclamation-circle fa-w-16' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path fill='rgb(121, 134, 138)' d='M504 256c0 136.997-111.043 248-248 248S8 392.997 8 256C8 119.083 119.043 8 256 8s248 111.083 248 248zm-248 50c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z'></path></svg>")
}


.force-deploy-text {
    float: right;
}

.no-changes-text {
    color: #79868a;
}

.out-of-sync-text {
    color: #79868a;
}

/** loading animation **/
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 40px;
    margin-left: 3em;
}
.lds-ellipsis div {
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #00b0e6;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}
