@import '../toolkit.css';
 
.provision-cards-container {
    display:flex;
}
 
.card-container {
    width:300px;
    height:200px;
    border:0.5px solid #ffffff;
    margin-top: 10px;
    margin-right: 30px;
}
 
.skill-card {
    min-height: 185px;
    max-width: 280px;
    min-width: 280px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 10px;
    margin-right: 30px;
    border: 0.5px solid #ccc;
    position: relative;
    overflow: hidden;
    padding: 10px 20px;
}
 
.skill-card:hover {
    border: 0.5px solid #00b0e6;
    box-shadow: 0 0.1rem 0.5rem #00b0e6;
}
 
.skill-card .skill-card-sticker {
    position: absolute;
    margin-right: 0;
    width: 110px;
    height: 110px;
    font-size: 0.85rem;
    vertical-align: middle;
    background-color: #00b0e6;
    color: #fff;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    right: -60px;
    top: -60px;
    transform: rotate(45deg);
    overflow: hidden;
    padding-bottom: 5px;
    text-transform: uppercase;
}
 
.skill-card .title {
    font-family: "Amazon Ember Regular","Helvetica Neue",Arial,Helvetica,Roboto,sans-serif;
    font-size: 1.7em;
    margin: 20px 0px;
}
 
.skill-card .details {
    font-family: "Amazon Ember Regular","Helvetica Neue",Arial,Helvetica,Roboto,sans-serif;
    font-size: 1em;
}
 
.create-btn-text {
    float: right;
    margin-right: 15px;
}